OPEN_AI_KEY= # your open api key
DB_HOSTNAME=localhost
DB_PORT=5432
DB_PASSWORD=admin12
DB_NAME=platpaldb
DB_USERNAME=adminuser
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720
SECRET_KEY= # your secret key
OPEN_AI_MODEL=chatgpt-4o-mini
GALLERY_DIR=static/gallery
THUMBNAIL_DIR=static/gallery/thumbnails
CHROMA_PATH=chroma_storage
CHROMA_DB=plantpal_chromadb
EMBEDDING_MODEL=text-embedding-3-small