<!-- templates/error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{ status_code }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            min-height: 100vh;
            background: linear-gradient(135deg, #87ce71 0%, #7dc767);
            background-attachment: fixed;
            font-family: 'Poppins', Arial, sans-serif;
            color: #2f5233;
            margin: 0;
            font-size: 16px;
            line-height: 1.5;
        }
        h1, h2 {color: #08300D;}
    </style>

</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-l rounded-2xl p-10 max-w-md w-full text-center">
        <h1 class="text-4xl font-bold">Oops!</h1>
        <h2 class="text-2xl font-bold">Something went wrong!</h2>
        <h3 class="text-lg font-bold mb-4"><b>{{ status_code }} Error:</b> {{ message }}</h3>
        <a href="/"
           class="inline-block bg-green-600 text-white px-6 py-3 rounded-xl shadow-md hover:bg-green-700 transition">
           Go Home
        </a>
    </div>
</body>
</html>
